# Fix Names
Table: Users
```
+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| user_id        | int     |
| name           | varchar |
+----------------+---------+
```
user_id is the primary key (column with unique values) for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.

 

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

The result format is in the following example.

 

Example 1:

Input: 
Users table:
```
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | aLice |
| 2       | bOB   |
+---------+-------+
```
Output: 
```
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | Alice |
| 2       | Bob   |
+---------+-------+

```

In [38]:
import pandas as pd
data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})
users

   user_id   name
0        1  aLice
1        2    bOB

In [39]:
# def fixName (row): 
#     row['name'] = row['name'].lower().capitalize()
#     return row 
# # users.apply(fixName, axis = 1)
# users = users.apply(fixName, axis = 1)
# users.sort_values(by = 'user_id')

In [43]:
# capitalize here is enough
#? most optimized solution 
users['name'] = users['name'].str.capitalize()

users.sort_values(by='user_id')

   user_id   name
0        1  Alice
1        2    Bob