# Nth Highest Salary - Data Manipulation
Table: Employee
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
```
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.

 

Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
```
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
```
n = 2
Output: 
```
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+
```
Example 2:

Input: 
Employee table:
```
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
```
n = 2
Output: 
```
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| null                   |
+------------------------+
```

In [24]:
import pandas as  pd 
import numpy as np
# data = [[1, 100], [2, 200], [3, 300]]
# employee = pd.DataFrame(data, columns=['Id', 'Salary']).astype({'Id':'Int64', 'Salary':'Int64'})
data = [[1, 100]]
employee = pd.DataFrame(data, columns=['Id', 'Salary']).astype({'Id':'Int64', 'Salary':'Int64'})
employee

   Id  Salary
0   1     100

In [35]:
employee.Salary.sort_values()
n = 1
sortOnSalary = employee.Salary.sort_values()
print(sortOnSalary.count() != 1)
if (n <= sortOnSalary.count() and sortOnSalary.count() != 1 ):
    highest = sortOnSalary.iloc[n-1]  
else :highest =  None
title = f'getNthHighestSalary({n})'

pd.DataFrame({title: [highest]})

False

  getNthHighestSalary(1)
0                   None